.Header .navlink {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  @apply text-white;
}

.Header .navlink.active {
  text-decoration: underline;
  @apply text-lime-green;
}
