@tailwind components;

@layer components {
  .Main {
    @apply py-[40px] xl:py-[60px] px-[10px] md:px-[40px] lg:px-[80px] flex flex-col gap-[40px];
  }
  .Main .goto-blog {
    color: #0266ff;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.32px;
    @apply text-royal-blue flex items-center gap-[10px];
  }
}
