@tailwind components;

@layer components {
  .Home {
    @apply flex flex-col gap-[40px];
  }

  .Home .post-title {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: left;
    @apply line-clamp-1 text-dark-midnight-blue;
  }

  .Home .post-text {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    @apply text-grape line-clamp-2;
  }

  .Home .post-cred {
    font-family: Inter;
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.03em;
    text-align: center;
    @apply flex gap-[5px] text-slate-blue;
  }

  .Home .post-rating {
    font-family: Inter;
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.03em;
    text-align: left;
    @apply flex text-slate-blue h-full items-center;
  }
}
